@model IEnumerable<GagaCar.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td class="text-end">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning small ms-2">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info small ms-2">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary small ms-2">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="mt-3 text-end">
    <a asp-action="Create" class="btn btn-secondary">Adicionar Cliente</a>
</div>